# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/

# Simulator persistent config written by SAVE
orcp_sim_config.json

# macOS
.DS_Store
